
.sucesso {
    color: #18603a;
    background-color: #d5f1de;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    border-color: #c4ebd1;
   }

.error {
    color: #772b35;
    background-color: #fadddd;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    border-color: #f8cfcf;
}

label {
    width: 80px;
    display: inline-block;
}

#Lista {
    text-align: center;
}

table {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    margin: auto; /* Deixa tabela no meio da página */
}

th, td {
    padding: 10px;
    text-align: center;
    width: 120px;
}

th {
    color: white;
    font-weight: lighter;
    font-size: 18px;
    background: rgb(14, 133, 180); 
}

tr:nth-child(odd){
    background-color: rgb(146, 208, 233);
}

#deletar {
    background-color: rgba(235, 83, 56, 0.979);
    border-radius: 5px;
    cursor: pointer;
}

#alterar {
    background-color: rgba(235, 223, 56, 0.979);
    border-radius: 5px;
    cursor: pointer;
}