{% extends "base.html" %}
{% block title %} Alterar Cadastro{% endblock %}
{% block body %}
{% for item in listas %}
    <div>
        <h2>Alterar o produto:</h2>
        <form action="/salvar/{{item[0]}}" id="formulario" method="POST">
            <p><label for="codigo">Código:</label> 
                <input value="{{item[0]}}" type="text" name="codigo" id="codigo" readonly/>
            <p><label for="nome">Produto:</label> 
                <input value="{{item[1]}}"type="text" name="nome" id="nome" readonly/>
            </p>
            <p><label for="fabricante">Fabricante:</label> 
                <input value="{{item[2]}}" type="text" name="fabricante" id="fabricante" readonly/>
            </p>
            <p><label for="quantidade">Quantidade:</label> 
                <input value="{{item[3]}}" type="number" name="quantidade" id="quantidade"/>
            </p>
        </form>
    </div>
    <div>
        <button type="submit" form="formulario">Salvar</button>
    </div>
{% endfor %}
{% endblock %}
